.box-romaneio {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.romaneio-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 100px;
    background-color: turquoise;
    height: 100px;
}

.column-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 100px;
    background-color: violet;
}

.box-estoque-op {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px auto;
    width: 95%;
    height: 35px;
    padding: 0 15px;
    background-color: #efefef;
}

.ref {
    margin-right: 10px;
}



