.status-1 {
    background-color:  rgb(221, 75, 75);
}

.status-2 {
    background-color: rgb(223, 223, 79);
}

.status-3 {
    background-color: rgb(223, 223, 79);
}

.status-4 {
    background-color: rgb(223, 223, 79);
}

.status-5 {
    background-color: rgb(151, 248, 151);
}